<!DOCTYPE html>
<html>
  <head>
    <title>Alex C Haas</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/javascripts/ie/html5shiv.js"></script><![endif]-->
    <!-- <link rel="stylesheet" href="assets/stylesheets/main.css" /> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <link rel="stylesheet" type="text/css" href="<%= asset_path('snake.css')%>">
    <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="<%= asset_path('snake.js')%>"></script>
    <script type="text/javascript" src="<%= asset_path('snake-view.js')%>"></script>
  </head>
  <body id="top">

    <%= yield %>

  </body>
</html>
